body {
    background-color:blanchedalmond;
  }

/* styles for the header section */
header {
    
    text-align: left;
    color:white;
    font-size: 4rem;
    font-family: Franklin Gothic Medium;
    height: 100px;
   background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A);
   padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
   
}

#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav {
    background: #000;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  nav a {
    color:tomato;
    text-decoration: none;
    font-size: 1.50rem;
    padding: 10px;
    border-right: 1px solid #fff;
  }
  nav a:hover{
    color:white;
}

  h1{
      margin-top: 30px;
      margin-bottom: 40px;
      margin-left: 30px;
      
  }
  main{
      height: 500px;
  }
 
img{
   float: right;
    margin-right: 45px;
    margin-left: 45px;
    height: 300px;
    width: 400px;
    border:10px solid;
   background-color: tan;
   border-radius: 20px;
   border-color: white;
}
.text{
    text-align: justify;
    width: 45%;
    font-size: 20px;
    float: right;
    height: 400px;
    margin-left:50px;
    margin-right: 50px;
    font-size: 1.5rem;
    color:darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

ul{
    float: right;
    color: black;
   
    
}
li{
    font-size: 2rem;
    font-style: normal;
   
   
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: coral;
}

/* footer styles */
footer {
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A);
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100px;
    margin-bottom: 1px;
  }
 
  form {
    display: block;
    float: left;
    width: 25%;
    
}
label {
    display: block;
    margin: 10px;
    font-weight: bold;
    font-size: 1.6rem;
}
input {
    padding: 7px;
    font-weight: bold;
}

#image{
    float: left;
    margin-right: 45px;
    margin-left: 45px;
    height: 300px;
    width: 400px;
    border: 20px solid;
   background-color: tan;
   border-radius: 50px;
   border-color:yellowgreen;
}
#list{
    float: left;
    
}
h3{
    float: right;
   
}

  /* styles for the table */
  table {
    border: 0.1em solid #000000;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* styles for the th and td */
  th, td {
    border: 0.1em solid #000000;
    padding: 1em;
  }

  /* styles for the th */
  th {
    background-color: #1d1d1c;
    color: #ffffff;
  }

  /* styles for caption */
  caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  /* styles for the flex-container class */
  .flex-container {
    display: flex;
  }

caption{
    margin-top: 30px;
    margin-bottom: 30px;
}







